<h2  style="text-align: center"> ML - Conecta caf√© </h2><br>
<div style="text-align: justify"> Modelo de <i> machine learning </i> criado para a plataforma <b> Conecta Caf√© </b> com o objetivo de reunir compradores de caf√©s especiais com cafeicultores que possuam <i>fit</i>.</div>

<h3> Contexto </h3><br>
<div style="text-align: justify"> 
    Com o avan√ßo da tecnologia, a conex√£o entre produtores e consumidores de produtos e servi√ßos de qualquer natureza est√° se tornando cada vez maior, uma vez que ela permite expandir e democratizar o acesso a deles.
    <br>
    Pensando nisso, foi criado uma plataforma Web que tem como prop√≥sito de conectar facilmente cafeicultores e consumidores de caf√©s especiais. Nessa aplica√ß√£o, o produtor pode cadastrar os dados do caf√© produzido permitindo assim, que compradores possam realizar a pesquisa e encontrar o caf√© de sua escolha.
</div>

<h3> Problem√°tica </h3><br>
<div style="text-align: justify"> 
    Ao acessar o site o consumidor pode buscar pelo caf√© inserindo alguns dados em um filtro. Por√©m, pense que o comprador n√£o sabe o que procura, √© apenas algu√©m que n√£o possui conhecimento sobre caf√©s especiais, mas gostaria de experimentar algo novo. N√£o seria interressante a plataforma entender o comportamento desse cliente e realizar recomenda√ß√µes baseadas em alguns dados? </div>

<h3> Proposta </h3><br>
<div style="text-align: justify"> 
A proposta √© aproximar compradores com cafeicultores que possuem caracter√≠sticas semelhantes. Como por exemplo, baseado na condi√ß√£o financeira, onde consumidores de grandes quantidades de caf√© sejam agrupados com produtores que produzam o suficiente para atend√™-los. Isso √© pensado para reduzir o <i> overflow </i> de dados atual da plataforma e melhorar o sistema de busca da aplica√ß√£o.</div>

---
<h2  style="text-align: center"> Informa√ß√µes do projeto </h2><br>

<h3> Reposit√≥rio </h3>

- **[ü§ñ API da plataforma](https://github.com/Brendhon/conecta-cafe-api)**
- **[üìü Aplica√ß√£o Web](https://github.com/GabrielGSD/Conecta_Cafe_React)**

<h3> Autores </h3><br>

<div style="display: flex; justify-content: space-between;"> 

<a href="https://github.com/Brendhon" style="text-align: center">
    <img style="float:left; border-radius: 15px; display: inline; margin: 10px;" src="https://github.com/brendhon.png" width="120px;" alt="autor"/>
    <br><br><br><br><br><br>
    <strong > Brendhon Moreira </strong>
</a>
<br><br>
<a href="https://github.com/GabrielGSD" style="text-align: center">
    <img style="float:left; border-radius: 15px; display: inline;  margin: 10px;" src="https://github.com/GabrielGSD.png" width="120px;" alt="autor"/>
    <br><br><br><br><br><br>
    <strong > Gabriel Daniel </strong>
</a>
<br><br>
<a href="https://github.com/MoisesSDelmoro" style="text-align: center">
    <img style="float:left; border-radius: 15px; display: inline;  margin: 10px;" src="https://github.com/MoisesSDelmoro.png" width="120px;" alt="autor"/>
    <br><br><br><br><br><br>
    <strong >Moises Delmoro</strong>
</a></div>

---
<h2  style="text-align: center"> Desenvolvimento </h2><br>

In [1]:
# Instalando os pacotes necess√°rios
import sys
!{sys.executable} -m pip install pandas 
!{sys.executable} -m pip install numpy 
!{sys.executable} -m pip install requests

Requirement already satisfied: pandas in c:\python39\lib\site-packages (1.2.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\python39\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.16.5 in c:\python39\lib\site-packages (from pandas) (1.19.5)
Requirement already satisfied: pytz>=2017.3 in c:\python39\lib\site-packages (from pandas) (2020.5)
Requirement already satisfied: six>=1.5 in c:\python39\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: numpy in c:\python39\lib\site-packages (1.19.5)
Requirement already satisfied: requests in c:\python39\lib\site-packages (2.13.0)

<h3> Simular os dados </h3><br>
<div style="text-align: justify"> 
    Por ser uma plataforma ainda n√£o colocada em produ√ß√£o, os dados ainda n√£o foram coletados e por conta disso ser√° criado um dataset que simula os dados reais.
</div>

In [2]:
# Importar as biblotecas
import pandas as pd
import numpy as np

# Permitir que as fun√ß√µes do arquivo de fun√ß√µes auxiliares sejam utilizadas
%run auxiliary_functions.ipynb

<h4> Declarando Variaveis </h4>

In [3]:
# Variaveis gerais
dataset_size = 10000

# Variaveis do consumidor
consumer_col_names = ["consumer_id", "financial_condition", "residence"]
consumer_intervals = [(1,100000000), (10.0,500000.0),("cities", dataset_size)]

# Variaveis do produtor
producer_col_names = ["producer_id", "quantity_produced", "residence"]
producer_intervals = [(1,100000000), (10,500000),("cities", dataset_size)]

<h4> Gerando os dataframes falsos </h4>

In [4]:
# Dataframe do consumidor
consumer = generate_fake_dataframe(
  size = dataset_size, 
  cols = "ifc", 
  col_names = consumer_col_names,
  intervals = consumer_intervals)

# Dataframe do produtor
producer = generate_fake_dataframe(
  size = dataset_size, 
  cols = "iic", 
  col_names = producer_col_names,
  intervals = producer_intervals)

      producer_id  quantity_produced                residence
0        18962737              31529                Petrolina
1        63773499             494530  Cabo de Santo Agostinho
2        81756484              86695                   Canoas
3        74747191             226573               Parnamirim
4        34222041             145921                 Itabira√≠
...           ...                ...                      ...
9995     97135459             231722               Rio Grande
9996     69656744             471994                     Bag√©
9997      2977277              97366               Camaragibe
9998     19909833             412326                Ji-Paran√°
9999     56202616             300500       Sao Joao de Meriti

[10000 rows x 3 columns]

In [5]:
producer.head()

   producer_id  quantity_produced                residence
0     18962737              31529                Petrolina
1     63773499             494530  Cabo de Santo Agostinho
2     81756484              86695                   Canoas
3     74747191             226573               Parnamirim
4     34222041             145921                 Itabira√≠

In [6]:
consumer.head()

   consumer_id  financial_condition        residence
0     52058865             24249.51     Juiz de Fora
1       916326            188788.76         Umuarama
2     15083599            159402.91  Pindamonhangaba
3     76909466            130805.09        Araguaina
4      3570376            149689.50    Caraguatatuba