<h2  style="text-align: center"> ML - Conecta caf√© </h2><br>
<div style="text-align: justify"> Modelo de <i> machine learning </i> criado para a plataforma <b> Conecta Caf√© </b> com o objetivo de reunir compradores de caf√©s especiais com cafeicultores que possuam <i>fit</i>.</div>

<h3> Contexto </h3><br>
<div style="text-align: justify"> 
    Com o avan√ßo da tecnologia, a conex√£o entre produtores e consumidores de produtos e servi√ßos de qualquer natureza est√° se tornando cada vez maior, uma vez que ela permite expandir e democratizar o acesso a deles.
    <br>
    Pensando nisso, foi criado uma plataforma Web que tem como prop√≥sito de conectar facilmente cafeicultores e consumidores de caf√©s especiais. Nessa aplica√ß√£o, o produtor pode cadastrar os dados do caf√© produzido permitindo assim, que compradores possam realizar a pesquisa e encontrar o caf√© de sua escolha.
</div>

<h3> Problem√°tica </h3><br>
<div style="text-align: justify"> 
    Ao acessar o site o consumidor pode buscar pelo caf√© inserindo alguns dados em um filtro. Por√©m, pense que o comprador n√£o sabe o que procura, √© apenas algu√©m que n√£o possui conhecimento sobre caf√©s especiais, mas gostaria de experimentar algo novo. N√£o seria interressante a plataforma entender o comportamento desse cliente e realizar recomenda√ß√µes baseadas em alguns dados? </div>

<h3> Proposta </h3><br>
<div style="text-align: justify"> 
A proposta √© aproximar compradores com cafeicultores que possuem caracter√≠sticas semelhantes. Como por exemplo, baseado na condi√ß√£o financeira, onde consumidores de grandes quantidades de caf√© sejam agrupados com produtores que produzam o suficiente para atend√™-los. Isso √© pensado para reduzir o <i> overflow </i> de dados atual da plataforma e melhorar o sistema de busca da aplica√ß√£o.</div>

---
<h2  style="text-align: center"> Projeto </h2>

<h3> Informa√ß√µes </h3>

Por ser uma plataforma ainda n√£o colocada em produ√ß√£o, os dados ainda n√£o foram coletados e por conta disso ser√° criado um dataset que simula os dados reais.

Para simular os dados, algumas regras de neg√≥cios foram utilizadas para dar mais coerencia para os dataset, s√£o elas:
- Regras para o Produtor: 
    - Produtores que produzem caf√© especial n√£o podem ter nota abaixo de 80;
    - Pela dificuldade de produzir caf√© especial normalmente produtores que produzem esse tipo de caf√©, produzem em uma quantidade menor de quem n√£o produz;
    - Avaliar o range da pontua√ß√£o do caf√© com base na regi√£o.

- Regras para o Consumidor:
    - Possivelmente quem tem interesse em caf√© especial, est√° disposto a gastar mais.
    - O tipo de consumidor (pessoa f√≠sica ou jur√≠dica) interfere na quantidade preterida, pois uma pessoa jur√≠dica normalmente √© um estabelecimento, ou seja, busca uma maior quantidade de caf√©s para compra.

<h3> Reposit√≥rios </h3>

- **[ü§ñ API da plataforma](https://github.com/Brendhon/conecta-cafe-api)**
- **[üìü Aplica√ß√£o Web](https://github.com/GabrielGSD/Conecta_Cafe_React)**
- **[üé∞ Projeto ML](https://github.com/Brendhon/conecta-cafe-ml)**

<h3> Autores </h3><br>

<div style="display: flex;"> 

<a href="https://github.com/Brendhon" style="text-align: center">
    <img style="float:left; border-radius: 15px; display: inline; margin: 10px;" src="https://github.com/brendhon.png" width="120px;" alt="autor"/>
    <br><br><br><br><br><br>
    <strong > Brendhon Moreira </strong>
</a>
<br><br>
<a href="https://github.com/GabrielGSD" style="text-align: center">
    <img style="float:left; border-radius: 15px; display: inline;  margin: 10px;" src="https://github.com/GabrielGSD.png" width="120px;" alt="autor"/>
    <br><br><br><br><br><br>
    <strong > Gabriel Daniel </strong>
</a>
<br><br>
<a href="https://github.com/MoisesSDelmoro" style="text-align: center">
    <img style="float:left; border-radius: 15px; display: inline;  margin: 10px;" src="https://github.com/MoisesSDelmoro.png" width="120px;" alt="autor"/>
    <br><br><br><br><br><br>
    <strong >Moises Delmoro</strong>
</a></div>

---
<h2  style="text-align: center"> Desenvolvimento </h2><br>

In [1]:
# Instalando os pacotes necess√°rios
import sys
!{sys.executable} -m pip install pandas 
!{sys.executable} -m pip install numpy 
!{sys.executable} -m pip install requests

Requirement already satisfied: pandas in c:\python39\lib\site-packages (1.2.1)
Requirement already satisfied: numpy>=1.16.5 in c:\python39\lib\site-packages (from pandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\python39\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\python39\lib\site-packages (from pandas) (2020.5)
Requirement already satisfied: six>=1.5 in c:\python39\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: numpy in c:\python39\lib\site-packages (1.19.5)
Requirement already satisfied: requests in c:\python39\lib\site-packages (2.13.0)

In [2]:
# Importar as biblotecas
import pandas as pd
import numpy as np

# Permitir que as fun√ß√µes do arquivo de fun√ß√µes auxiliares sejam utilizadas
%run auxiliary_functions.ipynb

<h3> Declarando Variaveis </h3>

In [3]:
# Variaveis gerais
dataset_size = 300
dataset_seed = 42

# Variaveis do consumidor
consumer_cols = "ifcccc"
consumer_col_names = ["id", "financial_condition", "residence", "search_special_coffee", 'desired_quantity', 'person_type']
consumer_intervals = [(1,100000000), (10.0,500.0), [1,2,3,4,5,6], [True, False], [0.5, 1, 60], [1,2]]

# Variaveis do produtor
producer_cols = "iccci"
producer_col_names = ["id", "quantity_produced", "residence", "produces_special_coffee", "coffee_score"]
producer_intervals = [(1,100000000), [0.5, 1, 60], [1,2,3,4,5,6], [True, False],  (0,100)]

---

<h3> Gerando tabelas auxiliares  </h3>
<br>
<i> Observa√ß√£o: Para poder utilizar os dados no modelo √© necessario indexar certos atributos para que o modelo seja capaz de entender os dados, para isso foi feito a cria√ß√£o dessas tabelas </i><br>

In [4]:
# Tabela de residencias b
states = ["Bahia", "Minas Gerais", "Esp√≠rito Santo", "Rio de Janeiro", "S√£o Paulo", "Paran√°"]
states_id=[1,2,3,4,5,6]
residence_df = pd.DataFrame(data=np.array([states_id, states]), index=["residence_id", "residence_name"]).T
residence_df

# Durante algumas pesquisas foi encontrado os principais produtores de caf√© no pais e com esses dados essa tabela foi criada
# Reference: https://www.mokaclube.com.br/blog/regioes-cafeeiras-do-brasil/

  residence_id  residence_name
0            1           Bahia
1            2    Minas Gerais
2            3  Esp√≠rito Santo
3            4  Rio de Janeiro
4            5       S√£o Paulo
5            6          Paran√°

In [5]:
# Tabela de Tipo de pessoa (F√≠sica ou Jur√≠dica)
consumer_type = ["Pessoa F√≠sica", "Pessoa Jur√≠dica"]
consumer_type_id = [1,2]
consumer_type_df = pd.DataFrame(data=np.array([consumer_type_id, consumer_type]), index=["consumer_type_id", "consumer_type"]).T
consumer_type_df

  consumer_type_id    consumer_type
0                1    Pessoa F√≠sica
1                2  Pessoa Jur√≠dica

---

<h3> Gerando os dados do consumidor </h3>

Pensando na coluna de quantidade preterida foi levado em conta se o consumidor √© uma pessoa jur√≠dica ou f√≠sica. Isso √© importante, pois uma pessoa jur√≠dica normalmente √© um estabelecimento, ou seja, busca uma maior quantidade de caf√©s para compra.

In [6]:
columns = ["person_type", "desired_quantity"]
data = generate_person_type_and_desired_quantity(dataset_size)
desired_quantity_df = pd.DataFrame(data=data, columns = columns)
desired_quantity_df.head()

   person_type  desired_quantity
0            2              60.0
1            2              60.0
2            2              60.0
3            2              60.0
4            2              60.0

<br> Possivelmente quem tem interesse em caf√© especial, est√° disposto a gastar mais

In [7]:
columns=["search_special_coffee", "financial_condition"]
data=generate_search_special_coffee_and_financial_condition(dataset_size)
quantity_financial_condition = pd.DataFrame(data=data, columns=columns)
quantity_financial_condition.head()

   search_special_coffee  financial_condition
0                   True                  278
1                  False                  110
2                  False                   97
3                  False                   95
4                  False                  107

<h3> Gerando os dados do produtor </h3>

Pontua√ß√£o do caf√© gerada com base na altitude e qualidade m√©dias dos caf√©s nos estados pesquisados

In [8]:
columns=["residence_id", "coffee_score"]
data=generate_coffee_score_and_residences(dataset_size)
coffee_score_df = pd.DataFrame(data=data, columns=columns)
coffee_score_df.head()

   residence_id  coffee_score
0             1            57
1             4            65
2             4            62
3             4            75
4             6            77

<br>Pela dificuldade de produzir caf√© especial normalmente produtores que produzem esse tipo de caf√©, produzem em uma quantidade menor de quem n√£o produz.

In [9]:
columns=["produces_special_coffee", "quantity_produced"]
data=generate_produces_special_coffee_and_quantity_produced(dataset_size)
quantity_produced_df = pd.DataFrame(data=data, columns=columns)
quantity_produced_df.head()

   produces_special_coffee  quantity_produced
0                    False                740
1                     True                828
2                    False               1192
3                     True                546
4                    False                642

---

<h3> Gerando os dataframes </h3>

In [10]:
# Dataframe do consumidor
consumer_df = generate_fake_dataframe(
  size = dataset_size, 
  cols = consumer_cols, 
  col_names = consumer_col_names,
  intervals = consumer_intervals,
  seed=dataset_seed)

# Dataframe do produtor
producer_df = generate_fake_dataframe(
  size = dataset_size, 
  cols = producer_cols, 
  col_names = producer_col_names,
  intervals = producer_intervals,
  seed=dataset_seed)

Obs: Os dados gerados pela fun√ß√£o 'generate_fake_dataframe' n√£o utiliza as regras de negocio definidas, portanto alguns de seus dados ser√£o substituidos

#### Alterando as colunas geradas randomicamente pelas geradas utilizando as regras de neg√≥cio

In [11]:
# Alterando os dados do consumidor
consumer_df['person_type'] = desired_quantity_df['person_type']
consumer_df['desired_quantity'] = desired_quantity_df['desired_quantity']

consumer_df['search_special_coffee'] = quantity_financial_condition['search_special_coffee']
consumer_df['financial_condition'] = quantity_financial_condition['financial_condition']

# Alterando os dados do produtor
producer_df['residence'] = coffee_score_df['residence_id']
producer_df['coffee_score'] = coffee_score_df['coffee_score']

producer_df['produces_special_coffee'] = quantity_produced_df['produces_special_coffee']
producer_df['quantity_produced'] = quantity_produced_df['quantity_produced']

<br>
Baseado na regra de que produtores de caf√© especial n√£o podem ter nota abaixo de 80, os valores fora desse padr√£o ser√£o removidos

In [12]:
# Removendo os produtores gerados que produzem caf√© especial com nota abaixo de 80
producer_df = producer_df.drop(producer_df[(producer_df['produces_special_coffee'] == True) 
                                           & (producer_df['coffee_score']  < 80)].index)

#### Mostrando dataframes criados

In [13]:
# Mostrando uma amostra dos dados do produtor
producer_df.head(10)

,id,quantity_produced,residence,produces_special_coffee,coffee_score
0,8925096,740,1,False,57
2,65457152,1192,4,False,62
4,43301524,642,6,False,77
5,85859792,1365,6,False,66
6,8594564,931,6,False,72
12,73575237,526,2,True,83
13,76113970,1015,6,False,81
14,71747727,774,6,False,66
18,83974823,940,5,False,83
20,50035192,531,4,False,75

In [14]:
# Mostrando uma amostra dos dados do consumidor
consumer_df.head(10)

,id,financial_condition,residence,search_special_coffee,desired_quantity,person_type
0,8925096,278,3,True,60.0,2
1,77395605,110,2,False,60.0,2
2,65457152,97,3,False,60.0,2
3,43887844,95,1,False,60.0,2
4,43301524,107,5,False,60.0,2
5,85859792,100,2,False,1.0,1
6,8594564,132,3,False,0.5,1
7,69736803,54,6,False,1.0,1
8,20146954,115,4,False,60.0,2
9,9417735,302,3,True,60.0,2